@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@700&display=swap');

body {
    background-image: url(/background.png);
    font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 991px) {
    body{height: 100%}
}

@media screen and (min-width: 992px) {
    body{background-size: cover;}
}

.home-sec {
    height: 100vh;
}

.home-sec > p {
    font-size: 1.5rem;
    color: #293264;
}

.home-sec > button {
    padding: 20px 70px;
    font-size: 1rem;
    background-color: #4D5B9E;
    color: white;
    border-radius: 20px;
}

.home-sec > button:hover, .action-btn:hover {
    background-color: #6576ce;
    color: rgb(228, 227, 227);
}

.home-sec > button:active, .action-btn:hover {
    background-color: #5868b6;
    color: rgb(202, 202, 202);
}

.home--text, .quiz--question {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    color: #293264;
}

.home--text {
    font-size: 3rem;
}

.quiz-sec {
    padding-top: 40px;
}

.quiz--question {
    font-size: 1.5rem;
}

.quiz-sec > .quiz--options > button {
    background-color: white;
    border: 1px solid #4D5B9E;
    border-radius: 15px;
    color: #293264;
}

.quiz-sec > .quiz--options > button:hover {
    background-color: #bbbfd4;
    color: #293264;
}

.pressed {
    background-color: #D6DBF5 !important;
    color: #293264;
}

.correct {
    background-color: #94D7A2 !important;
}

.incorrect {
    background-color: #F8BCBC !important;
}

.unchecked {
    background-color: #ffffff !important;
}

.action-btn {
    padding: 15px 40px;
    font-size: 1rem;
    background-color: #4D5B9E;
    color: white;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .quiz--options > button {
        display: block !important;
        width: 100%;
        height: 3rem;
    }
}